<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017688956847-l6nfhjel2scmgsscka288iug17cs83oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017688956847-l6nfhjel2scmgsscka288iug17cs83oo</string>
	<key>API_KEY</key>
	<string>AIzaSyCya-zUGWbuxtzjyFQ0JnKABNanPsdnqtY</string>
	<key>GCM_SENDER_ID</key>
	<string>1017688956847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Study.FireToDo</string>
	<key>PROJECT_ID</key>
	<string>firetodolist-ce543</string>
	<key>STORAGE_BUCKET</key>
	<string>firetodolist-ce543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017688956847:ios:a61fd8deb63d4d96</string>
	<key>DATABASE_URL</key>
	<string>https://firetodolist-ce543.firebaseio.com</string>
</dict>
</plist>